<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "menu/menu.html" %}
    <title>{% block title %}{{ _("Edit Account") }}{% endblock %}</title>
    {% block dependencies %}
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="static/vendor/jquery/jquery.min.js"></script>

        {#        todo used for checkbox#}
        <link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css">


        <link rel="stylesheet" href="static/css/account_style.css">

        <style>
            #email, #username, #password {
                border-radius: 15px 50px 30px;
                border: 2px solid #5e697b;
            }

            img {
                border-radius: 15px 50px 30px;
                height: 60%;
            }

            .container_menu {
                display: inline-block;
                height: 100px;
                width: 80%;
                margin: auto;
                position: fixed;
                background-color: transparent;
                background: var(--color-secondary);
                color: var(--font-color);
            }


        </style>
    {% endblock %}
</head>
<body>
{% block content %}
    <br><br>

    <div class="container_menu">
        <br><br>

        <div class="menu">
            <section class="sign-in">
                <div class="signin-content">

                    <figure><img src="static/images/edit.png" alt="edit image"></figure>

                    <div class="signin-form">
                        <h3 style="text-align: center">{{ _("Edit Account") }} </h3>
                        <br>

                        <form method="POST" id="edit-form">
                            <div class="form-group">
                                <input type="text" name="username" id="username" placeholder="*Username" disabled
                                       autocomplete="off" value={{ username }}
                                               required
                                       oninvalid="this.setCustomValidity('{{ _("Please enter your name.") }}')"
                                       oninput="this.setCustomValidity('')"/>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" placeholder="{{ _("*E-mail") }}"
                                       autocomplete="off"
                                       value={{ email }}
                                               required
                                       oninvalid="this.setCustomValidity('{{ _("Please enter your e-mail.") }}')"
                                       oninput="this.setCustomValidity('')"/>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" placeholder="{{ _("*Password") }}"
                                       value={{ password }}
                                               autocomplete="off"
                                       required
                                       oninvalid="this.setCustomValidity('{{ _("Please enter your password.") }}')"
                                       oninput="this.setCustomValidity('')"/>
                            </div>

                            <div class="form-group">
                                <input type="checkbox" name="showpass" id="showpass" onclick="show_password()"/>
                                <label for="showpass"
                                       class="label-agree-term"><span><span></span></span>{{ _("Show password") }}
                                </label>
                            </div>
                            <b> <span id="message" style="color: #5e697b "> {{ message }} </span></b>

                            <div class="form-group form-button">
                                <input type="submit" name="edit" id="edit" class="btn btn-outline-secondary"
                                       value="{{ _("Confirm") }}"/>
                            </div>
                            <a href="/welcome" class="signup-image-link">{{ _("Cancel") }}</a>

                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script>
        function show_password() {
            var pass = document.getElementById("password");
            if (pass.type === "password") {
                pass.type = "text";
            } else {
                pass.type = "password";
            }
        }

    </script>
{% endblock %}
</body>
</html>